* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-image: url(../assets/images/inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inicio {
  text-align: center;
  margin-top: 44%;
}

.button-inicio {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: #18cfbc;
  padding: 22px 24px;
  border-radius: 5px;
  text-transform: uppercase;
}
