body {
  background: url(../images/background1.png);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  /*background-color: #ffcc40;*/
}
section {
  margin-top: 30px;
}
.container {
  /*background-color: #D9DEE9;*/
  width: 800px;
  height: 600px;
  position: relative;
  border-radius: 10px;
  border: 5px dotted #d9dee9;/*#83C2F3;*/
  float: left;
  background-color: rgba(217, 222, 233, 0.60);
  /*dashed*/
}

.person {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.enemigo1, .enemigo2, .enemigo3 {
  position: absolute;
  top: 200px;
  border-radius: 100px;
}

.enemigo1 {
  left: 0;
}

.enemigo2 {
  left: 150px;
}

.enemigo3 {
  left: 370px;
}

.food1, .food2, .food3, .food4, .food5,
.food6 {
  height: 40px;
  width: 40px;
  left: 600px;
  top: 150px;
  position: absolute;
}

.tiempo, .puntos {
  width: 400px;
  /*background-color: #D9DEE9;*/
  float: right;
  margin-top: 30px;
  color: #eee;
}

.tiempo > span {
  text-align: left;
  margin: 5px;
  font-size: 40px;
}

.puntos > span {
  text-align: left;
  margin: 5px;
  font-size: 40px;
}

.tiempo-acabo {
  display: none;
}
