body {
  margin: 0 auto;
  background-image: url(../images/inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.inicio {
  text-align: center;
  margin-top: 44%;
}
.button-inicio {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: #18cfbc;
  border: 4px solid #18cfbc;
  padding: 16px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}
